<link href="/css/hf-style.css" rel="stylesheet"></link>
<div class="patient-card well" id="001" style="display:none">
    <div class="container" style="width:100%">
    <button class='btn btn-primary left-btn' onclick="back()"><span class="glyphicon glyphicon-arrow-left"></span> Back</button>
    <a href="/start" class='btn btn-primary right-btn' onclick="treat()"><span class="glyphicon glyphicon-plus"></span> Start Treatment</a>
    </div>
    <div class="grid-container-patient">
        <div class="item-photo" ><img src="/images/patient-robert.jpg" style="height: 100%"></img></div>
        <div class="item-name">Oliver Jake</div>
        <div class="item-id">ID: 100008</div>
        <div class="item-age">Age: 54</div>
        <div class="item-date">Date Joined: 01/04/2018</div>
        <div class="item-mobile">Mobile: 0455667799</div>
        <div class="item-address">Address: 26 Tree Street Plam Cove VIC 3009</div>
        <div class="item-symptoms">Symptons: </div>
    </div>
    <div class="container-fluid">
        <h5>Pain Medicine for 14 days</h5>
        <div class="container-fluid container-graph">
            <img src="/images/medicine_graph.jpg" style="width:100%"> </img>
        </div>
    </div>

</div>

<div class="patient-card well" id="002" style="display:none">
    <div class="container" style="width:100%">
        <button class='btn btn-primary left-btn' onclick="back()"><span class="glyphicon glyphicon-arrow-left"></span> Back</button>
        <button class='btn btn-primary right-btn' onclick="treat()"><span class="glyphicon glyphicon-plus"></span> Start Treatment</button>
    </div>
    <div class="grid-container-patient">
        <div class="item-photo" ><img src="/images/patient-conner.jpg" style="height: 100%"></img></div>
        <div class="item-name">Jack Conner</div>
        <div class="item-id">ID: 100032</div>
        <div class="item-age">Age: 42</div>
        <div class="item-date">Date Joined: 09/05/2018</div>
        <div class="item-mobile">Mobile: 04599012345</div>
        <div class="item-address">Address: 2 Bridge Street, Melbourne VIC 3000</div>
        <div class="item-symptoms">Symptons: </div>
    </div>
    <div class="container-fluid">
        <h5>Pain Medicine for 14 days</h5>
        <div class="container-fluid container-graph">
            <img src="/images/medicine_graph.jpg" style="width:100%"> </img>
        </div>
    </div>
</div>

<div class="patient-card well" id="003" style="display:none">
    <div class="container" style="width:100%">
        <button class='btn btn-primary left-btn' onclick="back()"><span class="glyphicon glyphicon-arrow-left"></span> Back</button>
        <button class='btn btn-primary right-btn' onclick="treat()"><span class="glyphicon glyphicon-plus"></span> Start Treatment</button>
    </div>
    <div class="grid-container-patient">
        <div class="item-photo" ><img src="/images/patient-jane.jpeg" style="height: 100%"></img></div>
        <div class="item-name">Jane</div>
        <div class="item-id">ID: 100012</div>
        <div class="item-age">Age: 39</div>
        <div class="item-date">Date Joined: 22/05/2018</div>
        <div class="item-mobile">Mobile: 0491736541</div>
        <div class="item-address">Address: 109 Park Street, South Melbourne VIC 3205</div>
        <div class="item-symptoms">Symptons: </div>
    </div>
    <div class="container-fluid">
        <h5>Pain Medicine for 14 days</h5>
        <div class="container-fluid container-graph">
            <img src="/images/medicine_graph.jpg" style="width:100%"> </img>
        </div>
    </div>
</div>

<div class="patient-card well" id="004" style="display:none">
    <div class="container" style="width:100%">
        <button class='btn btn-primary left-btn' onclick="back()"><span class="glyphicon glyphicon-arrow-left"></span> Back</button>
        <button class='btn btn-primary right-btn' onclick="treat()"><span class="glyphicon glyphicon-plus"></span> Start Treatment</button>
    </div>
    <div class="grid-container-patient">
        <div class="item-photo" ><img src="/images/patient-anja.jpeg" style="height: 100%"></img></div>
        <div class="item-name">Anja</div>
        <div class="item-id">ID: 100043</div>
        <div class="item-age">Age: 9</div>
        <div class="item-date">Date Joined: 01/05/2018</div>
        <div class="item-mobile">Mobile: 0468312777</div>
        <div class="item-address">Address: 45 Newyork Lane, Melbourne VIC 3000</div>
        <div class="item-symptoms">Symptons: </div>
    </div>
    <div class="container-fluid">
        <h5>Pain Medicine for 14 days</h5>
        <div class="container-fluid container-graph">
            <img src="/images/medicine_graph.jpg" style="width:100%"> </img>
        </div>
    </div>
</div>